@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@layer utilities {
  @keyframes bounce-kalem {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-kalem {
    animation: bounce-kalem 1.5s infinite;
  }
}

@theme {
    --font-heading: "Bebas Neue", sans-serif;
    --font-p: "Plus Jakarta Sans", sans-serif;

    --color-blue-main: #2185D5;
    --color-white-bg: #F3F3F3;
    --color-blue-dark : #175D95;
}
